{%- extends 'report-template.njk' -%}

{%- set page_title = 'Overview' -%}
{%- set current_url = '/' %}

{%- block content -%}

<h1 class="govuk-heading-xl">
  <span class="govuk-caption-xl">{{org.name}}</span>
  Accessibility compliance
</h1>

<p class="govuk-body">
  These statistics were generated using the evidence which was stored in the 
  <a class="govuk-link" href="{{org.templateData.report.repo}}">{{org.name}} 
  accessibility compliance repository</a>. If you disagree with any of the 
  statistics against a particular service, please send any updated evidence to 
  <a class="govuk-link" href="mailto:{{org.templateData.report.contact_email}}">
  {{org.templateData.report.contact_email}}</a>.
</p>

<p class="govuk-body">
  There is still audit work going on to fully understand our services. You can read 
  the <a class="govuk-link" href="/next-steps-for-this-report">next steps for this 
  report</a> to see how you can help.
</p>

<h2 class="govuk-heading-l">What is true compliance?</h2>
<p class="govuk-body">
  True compliance is the number of services which are covered by the Public 
  Sector Bodies Accessibility Regulations 2018.
</p>

<h2 class="govuk-heading-l">What is adjusted compliance?</h2>
<p class="govuk-body">
  Unlike true compliance, the stats for adjusted compliance have been adjusted 
  to remove services which are sunsetting and have no plans to be made compliant 
  before they are decomissioned.
</p>

<div class="app-inset-text govuk-!-margin-top-9">
  <h2 class="govuk-heading-l">
    {{org.name}} overview
  </h2>
  {{ govukSummaryList({
    classes: 'app-summary-list',
    rows: [
      {
        key: {
          html: '<strong>Total <span class="govuk-visually-hidden">number of services which are</span> live:</strong>'
        },
        value: {
          text: org.stats.services.all.live
        }
      },
      {
        key: {
          html: '<strong class="govuk-tag app-tag--very-high-risk">Very high risk<span class="govuk-visually-hidden"> services</span>:</strong>'
        },
        value: {
          text: org.stats.services.all.risk_very_high
        }
      },
      {
        key: {
          html: '<strong class="govuk-tag app-tag--high-risk">High risk<span class="govuk-visually-hidden"> services</span>:</strong>'
        },
        value: {
          text: org.stats.services.all.risk_high
        }
      },
      {
        key: {
          html: '<strong class="govuk-tag app-tag--medium-risk">Medium risk<span class="govuk-visually-hidden"> services</span>:</strong>'
        },
        value: {
          text: org.stats.services.all.risk_medium
        }
      },
      {
        key: {
          html: '<strong class="govuk-tag app-tag--low-risk">Low risk<span class="govuk-visually-hidden"> services</span>:</strong>'
        },
        value: {
          text: org.stats.services.all.risk_low
        }
      },
      {
        key: {
          html: '<strong class="govuk-tag app-tag--compliant">Compliant<span class="govuk-visually-hidden"> services</span>:</strong>'
        },
        value: {
          text: org.stats.services.all.live_compliant
        }
      }
    ]
  }) }}

  {{ statsSection({
    service_name: org.name,
    heading: 'True compliance',
    heading_hidden: 'of ' + org.name,
    heading_level: 3,
    stats_type: 'true_compliance',
    stats: org.stats
  }) }}

  {{ statsSection({
    service_name: org.name,
    heading: 'Adjusted compliance',
    heading_hidden: 'of ' + org.name,
    heading_level: 3,
    heading_class: 'govuk-heading-m',
    stats_type: 'adjusted_compliance',
    stats: org.stats
  }) }}
</div>
{%- endblock -%}
