.app-label-list {
  margin-top: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
 
  li {
    display: flex;
    margin: .15em;
  }
}

.app-summary-list {
  .govuk-summary-list__key {
    width: 100%;
    @include govuk-media-query($from: tablet) {
      width: 40%;
    }
  }
}

.app-tag {
  font-size: .9rem;
}

.app-tag--very-high-risk {
  background-color: $risk-very-high-background-colour;
  color: $risk-very-high-text-colour;
}
.app-tag--high-risk {
  background-color: $risk-high-background-colour;
  color: $risk-high-text-colour;
}
.app-tag--medium-risk {
  background-color: $risk-medium-background-colour;
  color: $risk-medium-text-colour;
}
.app-tag--low-risk {
  background-color: $risk-low-background-colour;
  color: $risk-low-text-colour;
}
.app-tag--compliant {
  background-color: $risk-compliant-background-colour;
  color: $risk-compliant-text-colour;
}
.app-tag--unkown-risk {
  background-color: $risk-unknown-background-colour;
  color: $risk-unknown-text-colour;
}