{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{%- if service.risk === 'very-high' -%}
  {%- set risk_tag_text = service.risk -%}
  {%- set risk_tag_class = 'app-tag app-tag--very-high-risk' -%}
{%- elif service.risk === 'high' -%}
  {%- set risk_tag_text = service.risk -%}
  {%- set risk_tag_class = 'app-tag app-tag--high-risk' -%}
{%- elif service.risk === 'medium' -%}
  {%- set risk_tag_text = service.risk -%}
  {%- set risk_tag_class = 'app-tag app-tag--medium-risk' -%}
{%- elif service.risk === 'low' -%}
  {%- set risk_tag_text = service.risk -%}
  {%- set risk_tag_class = 'app-tag app-tag--low-risk' -%}
{%- elif service.risk === 'compliant' -%}
  {%- set risk_tag_text = service.risk -%}
  {%- set risk_tag_class = 'app-tag app-tag--compliant' -%}
{%- else -%}
  {%- set risk_tag_text = service.risk -%}
  {%- set risk_tag_class = 'app-tag govuk-tag--grey' -%}
{%- endif -%}

{%- if service.status === 'live' -%}
  {%- set status_tag = 'app-tag govuk-tag--turquoise' -%}
{%- else -%}
  {%- set status_tag = 'app-tag govuk-tag--grey' -%}
{%- endif -%}

<ul class="app-label-list">
  <li>
    {{- govukTag({
      text: service.status,
      classes: status_tag + (' ' + params.add_classes if params.add_classes)
    }) -}}
  </li>
  {%- if service.risk !== 'not-live' -%}
    <li>
      {{- govukTag({
        text: risk_tag_text,
        classes: 'app-tag ' + risk_tag_class + (' ' + params.add_classes if params.add_classes)
      }) -}}
    </li>
  {%- endif -%}
  <li>
    {%- set txthtml -%}
      {{- service.type -}} <span class="govuk-visually-hidden">facing</span>
    {%- endset -%}
    {{- govukTag({
      text: txthtml|safe,
      classes: 'app-tag ' + (params.add_classes if params.add_classes)
    }) -}}
  </li>
  {%- if service.critical === 'true' or service.sunsetting === 'true' -%}
    {%- if service.critical === 'true' -%}
      <li>
        {{ govukTag({
          text: 'Critical',
          classes: 'app-tag govuk-tag--red' + (' ' + params.add_classes if params.add_classes)
        }) }}
      </li>
    {%- endif -%}
    
    {%- if service.sunsetting === 'true' -%}
      <li>
        {{ govukTag({
          text: 'Sunsetting',
          classes: 'app-tag govuk-tag--pink' + (' ' + params.add_classes if params.add_classes)
        }) }}
      </li>
    {%- endif -%}

    {%- if service.legacy === 'true' -%}
      <li>
        {{ govukTag({
          text: 'Legacy',
          classes: 'app-tag govuk-tag--purple' + (' ' + params.add_classes if params.add_classes)
        }) }}
      </li>
    {%- endif -%}
  {%- endif -%}
</ul>