<h3 class="govuk-caption-m">
  Responsibilities
</h3>
<ul>
  {%- for parent in nav.responsibilities -%}
    {% set parentActive = current_url === parent.link %}

    {% if parent.children.length > 0 and current_url !== '/' %}
      {% set parentsChildIsActive = parent.link in current_url %}
    {% endif %}

    <li class="app-nav__list-item{{' app-nav__list-item--active' if parentActive}}{{' app-nav__list-item--child-active' if parentsChildIsActive}}">
      <a class="govuk-link govuk-link--no-visited-state" href="{{parent.link}}" {{'aria-current="page"' if parentActive}}>
        {{parent.name}}
      </a>
    </li>
    {%- if parentActive or parentsChildIsActive -%}
      <li>
        <ul>
          {%- for child in parent.children -%}
            {% set thisChildIsActive = current_url === child.link %}
            <li class="app-nav__list-sub-item{{' app-nav__list-sub-item--active' if thisChildIsActive}}">
              <a class="govuk-link govuk-link--no-visited-state" href="{{child.link}}" {{'aria-current="page"' if thisChildIsActive}}>
                {{child.name}}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </li>
    {%- endif -%}
  {%- endfor -%}       
</ul>