{%- extends 'report-template.njk' -%}

{%- set page_title = 'Next steps for this report' -%}
{%- set current_url = '/next-steps-for-this-report' %}

{%- block content -%}

<h1 class="govuk-heading-xl">
  Next steps for this report
</h1>

<div class="app-inset-text govuk-!-margin-top-9">
  
</div>
{%- endblock -%}
