// Risks
$risk-very-high-background-colour: #EEAEA5;
$risk-very-high-text-colour: #690202;

$risk-high-background-colour: #F2C7C0;
$risk-high-text-colour: #8B301D;

$risk-medium-background-colour: #FCD6C3;
$risk-medium-text-colour: #A2400B;

$risk-low-background-colour: #FFF3A3;
$risk-low-text-colour: #584d00;

$risk-compliant-background-colour: #cce2d8;
$risk-compliant-text-colour: #005b30;

$risk-unknown-background-colour: #eeefef;
$risk-unknown-text-colour: #373f43;
