<h2 class="govuk-heading-l">
  Services which are live <span class="govuk-visually-hidden">in {{pdu.name}}</span>
</h2>
<div class="app-inset-text">
  {%- set liveServices = pdu.getServices({ status: 'live' }) -%}
  {%- if liveServices.length === 0 -%}
    <p>
      No live services.
    </p>
  {%- else -%}
    {%- for service in liveServices -%}
      <div class="govuk-!-margin-bottom-9">
        <h3 class="govuk-heading-m" id="{{service.slug}}">
          {{service.name}}
          {%- if service.alias.length > 0 -%}
            <span class="govuk-visually-hidden"> also known as </span>
            <span class="govuk-caption-m">{{service.alias}}</span>
          {%- endif -%}
        </h3>

        <h4 class="govuk-visually-hidden">
          Labels for {{service.name}}
        </h4>
        {{- labels(service) -}}

        <h4 class="govuk-visually-hidden">
          Notes for {{service.name}}
        </h4>
        <p>
          {{- service.notes -}}
        </p>

        {%- if service.sunsetting === 'true' and service.sunsetDate === 'unknown' -%}
          {% set decomissionStatement = ' It is not known when it will be decomissioned.' %}
        {%- elif service.sunsetting === 'true' and service.sunsetDate !== 'unknown' -%}
            {% set decomissionStatement = ' It should be decomissioned by ' + service.sunsetDate + '.' %}
        {%- else -%}
            {% set decomissionStatement = '' %}
        {% endif %}

        {%- if service.plans === 'true' -%}
          {{ progressBar({
            heading: 'Progress',
            heading_level: 4,
            compliance_rate: service.stats.progress,
            stat_summary: (totalTextTrue if params.stats_type === 'true' else totalTextStrategic)
          }) }}
        {%- else -%}
          {%- if service.legacy === 'true' -%}
            {{ govukWarningText({
              text: "This is a legacy service and cannot be made compliant." + decomissionStatement,
              iconFallbackText: "Important"
            }) }}
          {%- else -%}
            {{ govukWarningText({
              text: "This service has no plans for compliance."  + decomissionStatement,
              iconFallbackText: "Important"
            }) }}
          {%- endif -%}
        {%- endif -%}

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              WCAG 2.1 <br />
              manual checks
            </dt>
            <dd class="govuk-summary-list__value">
              {{- service.evidence.wcag.status|prettify|capitalize -}}
              {%- if service.evidence.wcag.date !== 'unknown' and service.evidence.wcag.date !== 'n/a' -%}
                {{ ', ' }}{{ service.evidence.wcag.date }}
              {%- endif -%}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Screen reader testing
            </dt>
            <dd class="govuk-summary-list__value">
              {{- service.evidence.screen_reader.status|prettify|capitalize -}}
              {%- if service.evidence.screen_reader.date !== 'unknown' and service.evidence.screen_reader.date !== 'n/a' -%}
                {{ ', ' }}{{ service.evidence.screen_reader.date }}
              {%- endif -%}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Voice controller testing
            </dt>
            <dd class="govuk-summary-list__value">
              {{- service.evidence.voice_controller.status|prettify|capitalize -}}
              {%- if service.evidence.voice_controller.date !== 'unknown' and service.evidence.voice_controller.date !== 'n/a' -%}
                {{ ', ' }}{{ service.evidence.voice_controller.date }}
              {%- endif -%}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Screen magnifier testing
            </dt>
            <dd class="govuk-summary-list__value">
              {{- service.evidence.screen_magnifier.status|prettify|capitalize -}}
              {%- if service.evidence.screen_magnifier.date !== 'unknown' and service.evidence.screen_magnifier.date !== 'n/a' -%}
                {{ ', ' }}{{ service.evidence.screen_magnifier.date }}
              {%- endif -%}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Accessibility statement
            </dt>
            <dd class="govuk-summary-list__value">
              {{- service.evidence.statement.status|prettify|capitalize -}}
              {%- if service.evidence.statement.date !== 'unknown' and service.evidence.statement.date !== 'n/a' -%}
                {{ ', ' }}{{ service.evidence.statement.date }}
              {%- endif -%}
            </dd>
          </div>
        </dl>
      </div>
    {%- endfor -%}
  {%- endif -%}
</div>
