{%- set notLiveServices = pdu.getServices({ status: 'not-live' }) -%}
{%- if notLiveServices.length > 0 -%}
  <h2 class="govuk-heading-l">
    Services which are not live <span class="govuk-visually-hidden">in {{pdu.name}}</span>
  </h2>
  <div class="app-inset-text">
    {%- for service in notLiveServices -%}
      <div class="govuk-!-margin-bottom-9">
        <h3 class="govuk-heading-m" id="{{service.slug}}">
          {{service.name}}
          {%- if service.alias.length > 0 -%}
            <span class="govuk-visually-hidden"> also known as </span>
            <span class="govuk-caption-m">{{service.alias}}</span>
          {%- endif -%}
        </h3>

        <h4 class="govuk-visually-hidden">
          Labels for {{service.name}}
        </h4>
        {{- labels(service) -}}

        <h4 class="govuk-visually-hidden">
          Notes for {{service.name}}
        </h4>
        <p class="govuk-!-font-size-19">
          {%- if service.thirdParty === 'true' -%}
            This service is maintained by a third party.
          {%- elif service.thirdParty === 'false' -%}
            This service is maintained by {{org.name}}.
          {%- else -%}
            It is not known who maintains this service.
          {%- endif -%}
        </p>
        <p>
          {{- service.notes -}}
        </p>

        {%- if service.plans === 'true' -%}
          {{ progressBar({
            heading: 'Progress',
            heading_level: 4,
            compliance_rate: service.stats.progress,
            stat_summary: (totalTextTrue if params.stats_type === 'true' else totalTextStrategic)
          }) }}
        {%- else -%}
          {%- if service.legacy === 'true' -%}
            {{ govukWarningText({
              text: "This is a legacy service and cannot be made compliant.",
              iconFallbackText: "Important"
            }) }}
          {%- else -%}
            {{ govukWarningText({
              text: "This service has no plans for compliance.",
              iconFallbackText: "Important"
            }) }}
          {%- endif -%}
        {%- endif -%}

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              WCAG 2.1 <br />
              manual checks
            </dt>
            <dd class="govuk-summary-list__value">
              {{- service.evidence.wcag.status|prettify|capitalize -}}
              {%- if service.evidence.wcag.date !== 'unknown' and service.evidence.wcag.date !== 'n/a' -%}
                {{ ', ' }}{{ service.evidence.wcag.date }}
              {%- endif -%}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Screen reader testing
            </dt>
            <dd class="govuk-summary-list__value">
              {{- service.evidence.screen_reader.status|prettify|capitalize -}}
              {%- if service.evidence.screen_reader.date !== 'unknown' and service.evidence.screen_reader.date !== 'n/a' -%}
                {{ ', ' }}{{ service.evidence.screen_reader.date }}
              {%- endif -%}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Speech recognition testing
            </dt>
            <dd class="govuk-summary-list__value">
              {{- service.evidence.voice_controller.status|prettify|capitalize -}}
              {%- if service.evidence.voice_controller.date !== 'unknown' and service.evidence.voice_controller.date !== 'n/a' -%}
                {{ ', ' }}{{ service.evidence.voice_controller.date }}
              {%- endif -%}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Magnifier testing
            </dt>
            <dd class="govuk-summary-list__value">
              {{- service.evidence.screen_magnifier.status|prettify|capitalize -}}
              {%- if service.evidence.screen_magnifier.date !== 'unknown' and service.evidence.screen_magnifier.date !== 'n/a' -%}
                {{ ', ' }}{{ service.evidence.screen_magnifier.date }}
              {%- endif -%}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Accessibility statement
            </dt>
            <dd class="govuk-summary-list__value">
              {{- service.evidence.statement.status|prettify|capitalize -}}
              {%- if service.evidence.statement.date !== 'unknown' and service.evidence.statement.date !== 'n/a' -%}
                {{ ', ' }}{{ service.evidence.statement.date }}
              {%- endif -%}
            </dd>
          </div>
        </dl>
      </div>
    {%- endfor -%}
  </div>
{%- endif -%}
