<p>
  Hi {{data.stakeholder.first_name}}
</p>
<p>
  This is the latest accessibility update for {{data.pdu.name}} which was generated on {{date}}.
</p>
<p>
  The data in our report, and in this email, represents the current evidence teams 
  have submitted to our team. We consider a service to be compliant when we have 
  evidence that the service:
</p>
<ul>
  <li>has no fails against any WCAG 2.1 A or AA criteria</li>
  <li>works using a screen reader</li>
  <li>works using a screen magnifier</li>
  <li>works using a voice controller</li>
  <li>has a valid accessibility statement</li>
</ul>
<p>
  If services are not compliant we categorise them as medium, high or very high risk.
</p>
<p>
  Once we have a list of services which are compliant and which services are not, we 
  draw up the percentage score for each area. True compliance is the rating which 
  shows how many of your services which are in scope of the regulations are compliant. 
  We don't have any control over what is scoped under true compliance, it's just 
  everything which fits the definition outlined in the legislation.
</p>
<p>
  Adjusted compliance, is a statistic where the scope has been narrowed. All 
  services are included in true compliance, but adjusted compliance may not count 
  some sunsetting and legacy services. For services which are fix on failure or 
  where an active decision has been made by senior stakeholders not to do the 
  accessibility work, we have removed these from the adjusted compliance statistics. 
</p>
<p>
  It is important to note that services removed from the adjusted compliance 
  statistics are still at risk from legal challenge. Just because a decision has 
  been made not to do the work does not mean we are not legislatively required to 
  do so. So, adjusted compliance can become somewhat of a vanity metric if it is 
  not properly understood.
</p>
<p>
  If you find any discrepancies in the data, please let me know so we can work 
  with the relevant teams to get everything in the right place. Sometimes teams 
  have done the work but they just haven't submitted the evidence so we aren't 
  aware of it.
</p>
<p>
  Thanks,<br />
  {{data.reporter.first_name}} {{data.reporter.last_name}}
</p>