<p>
  Hi {{data.stakeholder.first_name}}
</p>
<p>
  This is the latest accessibility update for {{data.pdu.name}} which was generated on {{date}}.
</p>
<p>
  If you need a reminder for how we categorise services or any of the terminology, 
  you can find it at the end of this email.
</p>
<p>
  If you find any discrepancies in the data, please let me know so we can work 
  with the relevant teams to get everything in the right place.
</p>
<p>
  Thanks,<br />
  {{data.reporter.first_name}} {{data.reporter.last_name}}
</p>