{%- set veryHighRiskServices = data.thisMonth.pdu.getServices({ risk: 'very-high' }) -%}
{%- if (veryHighRiskServices.length > 0) -%}
  <ul>
    {%- for service in veryHighRiskServices -%}
      {%- if service.plans === 'true'-%}
        <li>{{service.name}}</li>
      {%- elif service.legacy === 'true' -%}
        <li class="disabled">{{service.name}} <span class="i">- (legacy)</span></li>
      {%- else -%}
        <li class="disabled">{{service.name}} <span class="i">- (no accessibility work scheduled)</span></li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
{%- else -%}
  <p>You currently have no very high risk services.</p>
{%- endif -%}