{%- set mediumRiskServices = data.thisMonth.pdu.getServices({ risk: 'medium' }) -%}
{%- if (mediumRiskServices.length > 0) -%}
  <ul>
    {%- for service in mediumRiskServices -%}
      {%- if service.plans === 'true'-%}
        <li>{{service.name}}</li>
      {%- else -%}
        <li class="disabled">{{service.name}} (no accessibility work scheduled)</li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
{%- else -%}
  <p>You currently have no medium risk services.</p>
{%- endif -%}