<style>html{font-family:arial, sans-serif;}</style>

<h1>Accessibility Update</h1>
{% include './partials/intro.njk' %}

<h2>Compliance rates</h2>
{% include './partials/compliance-true.njk' %}
{% include './partials/compliance-adjusted.njk' %}

<h2>Risks</h2>
{% include './partials/risks-very-high.njk' %}
{% include './partials/risks-high.njk' %}
{% include './partials/risks-medium.njk' %}
{% include './partials/risks-low.njk' %}

<h2>Compliant services</h2>
{% include './partials/services-compliant.njk' %}

<h2>Very high risk services</h2>
{% include './partials/services-very-high-risk.njk' %}

<h2>High risk services</h2>
{% include './partials/services-high-risk.njk' %}

<h2>Medium risk services</h2>
{% include './partials/services-medium-risk.njk' %}

<h2>Low risk services</h2>
{% include './partials/services-low-risk.njk' %}

<h2>Services where no accessibility work is scheduled</h2>
<p>
  These are the sunsetting services which have been descoped in the adjusted 
  compliance stats.
</p>
{% include './partials/services-sunsetting.njk' %}

<hr>

<h2>Explanation and terminology</h2>
<p>
  The data in our report, and in this email, represents the current evidence teams 
  have submitted to our team. We consider a service to be compliant when we have 
  evidence that the service:
</p>
<ul>
  <li>has no fails against any WCAG 2.1 A or AA criteria</li>
  <li>works using a screen reader</li>
  <li>works using a screen magnifier</li>
  <li>works using a voice controller</li>
  <li>has a valid accessibility statement</li>
</ul>

<h3>High risk vs low risk</h3>
<p>
  If services are not compliant, we categorise them as low, medium, high or very high risk; 
  depending on what the failures are and how much testing has been done.
</p>
<p>
  The risk dictates how likely it is that the service will generate complaints  
  from users and how likely it is to receive a legal challenge. Low risk services, 
  although not compliant, are less likely to cause issues. So even if a service 
  is a way off being compliant, work should be done to lower the risk and reduce 
  barriers for users.
</p>
<p>
  How close a service is to compliance, how big the barriers are in the service, 
  and how many people use the service are all factors which impact the risk score.
</p>

<h3>True compliance vs Adjusted compliance</h3>
<p>
  True compliance is the rating which shows how many of your services which are 
  in scope of the regulations are compliant. We don't have any control over what 
  is scoped under true compliance, it's just everything which fits the definition 
  outlined in the legislation.
</p>
<p>
  Adjusted compliance, is a statistic where the scope has been narrowed. It may 
  not count some sunsetting or legacy services. For services which are fix on 
  failure or where an active decision has been made by senior stakeholders not 
  to do the   accessibility work, we have removed these from the adjusted 
  compliance statistics. 
</p>
<p>
  It is important to note that services removed from the adjusted compliance 
  statistics are still at risk from legal challenge. So, adjusted compliance can 
  become a vanity metric if it is not properly managed.
</p>