{%- extends 'report-template.njk' -%}

{%- set page_title = type|prettify|capitalize + ' services' -%}
{%- set current_url = '/filters/staff-facing-services' %}

{%- block content -%}

<h1 class="govuk-heading-xl">
  {{type|prettify|capitalize}} services
</h1>

<p class="govuk-body">
  There are {{Service.filterByType(type).length}} {{type|prettify}} services in total.
</p>

{%- for directorate in Directorate.all -%}
  <div class="app-inset-text govuk-!-margin-top-6">
    <h2 class="govuk-heading-m">{{directorate.name}}</h2>
    {%- for pdu in directorate.getPDUs() -%}
      <h3 class="govuk-heading-s">{{pdu.name}}</h3>
      {%- set services = pdu.getServices({ type: type }) -%}
      {%- if services.length === 0 -%}
        <p class="govuk-body">
          No {{type|prettify}} services.
        </p>
      {%- else -%}
        <ul class="govuk-list govuk-list--bullet">
          {% for service in services %}
            <li class="govuk-!-margin-bottom-5">
            {{service.name}}<br />
            <span class="govuk-visually-hidden">
              Labels:
            </span>
            {{- labels(service, {add_classes: 'app-tag'}) -}}
          </li>
          {% endfor %}
        </ul>
      {%- endif -%}
    {%- endfor -%}
  </div>
{%- endfor -%}

{%- endblock -%}
