.app-nav {
  border-bottom: 1px solid $govuk-border-colour;
  margin-bottom: 3rem;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
    }
  }
  
  .app-nav__list-item {
    list-style: none;
    border-top: 1px solid $govuk-border-colour;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  .app-nav__list-item--child-active {
    border-left: 5px solid $govuk-border-colour;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .app-nav__list-sub-item {
    border-left: 5px solid $govuk-border-colour;
    list-style: none;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 2rem;
  }

  .app-nav__list-sub-item--active {
    border-left: 10px solid $govuk-link-colour;
    background-color: govuk-colour("light-grey");
    font-weight: bold;
    margin-left: -5px;
  }

  .app-nav__list-item--active {
    border-left: 10px solid $govuk-link-colour;
    background-color: govuk-colour("light-grey");
    padding-left: 1rem;
    font-weight: bold;
    margin-left: -5px;
  }
}
